body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1 {
    color: #3e70d2;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 20px;
    background: #fff;
    color: #636465;
    border-width: 2px;
    border-style: solid;  /* Добавьте это свойство */
    border-color: #636465;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.custom-file-upload:hover {
    background: #555;
}


button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #636465;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #555;
}

#file-chosen {
    color: #636465; /* Цвет текста */
    font-size: 12px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    /* Добавьте другие стили по вашему выбору */
}